<server description="Hello World Server">

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9090" />

    <application type="war"  context-root="/" location="C:/Workspace/servlet3/sample-servlet3/target/sample-servlet3-1.0-SNAPSHOT.war"/>

</server>