<server description="Hello World Server">

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${httpPort}" />

    <application id="${project.name}" name="${project.name}" type="war" context-root="/" location="${war.path}">

    </application>

</server>